In [1]:
#import the necessary packages
import pandas as pd
from sklearn.preprocessing import MinMaxScaler
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_absolute_error
from sklearn.metrics import mean_squared_error
from sklearn.metrics import r2_score
from sklearn.linear_model import Ridge
from sklearn.linear_model import Lasso
import numpy as np
scaler = MinMaxScaler()

In [2]:
#read data
data_df=pd.read_csv('energydata_complete.csv')
data_df.head()

,date,Appliances,lights,T1,RH_1,T2,RH_2,T3,RH_3,T4,...,T9,RH_9,T_out,Press_mm_hg,RH_out,Windspeed,Visibility,Tdewpoint,rv1,rv2
0,2016-01-11 17:00:00,60,30,19.89,47.596667,19.2,44.790000,19.79,44.730000,19.000000,...,17.033333,45.53,6.600000,733.5,92.0,7.000000,63.000000,5.3,13.275433,13.275433
1,2016-01-11 17:10:00,60,30,19.89,46.693333,19.2,44.722500,19.79,44.790000,19.000000,...,17.066667,45.56,6.483333,733.6,92.0,6.666667,59.166667,5.2,18.606195,18.606195
2,2016-01-11 17:20:00,50,30,19.89,46.300000,19.2,44.626667,19.79,44.933333,18.926667,...,17.000000,45.50,6.366667,733.7,92.0,6.333333,55.333333,5.1,28.642668,28.642668
3,2016-01-11 17:30:00,50,40,19.89,46.066667,19.2,44.590000,19.79,45.000000,18.890000,...,17.000000,45.40,6.250000,733.8,92.0,6.000000,51.500000,5.0,45.410389,45.410389
4,2016-01-11 17:40:00,60,40,19.89,46.333333,19.2,44.530000,19.79,45.000000,18.890000,...,17.000000,45.40,6.133333,733.9,92.0,5.666667,47.666667,4.9,10.084097,10.084097

# Question #12

In [3]:
X = (np.array(data_df['T2'])).reshape(-1, 1)
y = data_df['T6']

In [4]:
model = LinearRegression()
# fit the model
model.fit(X, y)
predicted = model.predict(X)
r2_scr = r2_score(y, predicted)
print('R sqaured', round(r2_scr, 3))

R sqaured 0.642

# Question #13

In [5]:
final_df = data_df.drop(columns=['date', 'lights'])

In [6]:
normalised_df = pd.DataFrame(scaler.fit_transform(final_df), columns=final_df.columns) #normalize data
target = normalised_df['Appliances']
features = normalised_df.drop(columns=['Appliances'])

In [7]:
x_train, x_test, y_train, y_test = train_test_split(features, target, test_size=0.3, random_state=42)
linear_model = LinearRegression()
linear_model.fit(x_train, y_train)
predicted_values = linear_model.predict(x_test)
mae = mean_absolute_error(y_test, predicted_values)
print('MAE',mae)

MAE 0.05013362397742957

# Question #14

In [8]:
rss = np.sum(np.square(y_test - predicted_values))
print('RSS',round(rss, 3))

RSS 45.348

# Question #15

In [9]:
rmse = np.sqrt(mean_squared_error(y_test, predicted_values))
print('RMSE',round(rmse, 3))

RMSE 0.088

# Question #16

In [10]:
r2_score = r2_score(y_test, predicted_values)
print('R sqaured', round(r2_score, 3))

R sqaured 0.149

# Question #17

In [11]:
importance = linear_model.coef_
max_imp = importance[0]
max_ind = 0
min_imp = importance[0]
min_ind = 0
for i in range(len(importance)):
    if (importance[i]>max_imp):
        max_imp = importance[i]
        max_ind = i
    if (importance[i]<min_imp):
        min_imp = importance[i]
        min_ind = i
print((features.columns)[max_ind],max_imp)
print((features.columns)[min_ind],min_imp)

RH_1 0.5535465998386391
RH_2 -0.4566979483385004

# Question #18

In [12]:
ridge_reg = Ridge(alpha=0.4)#Ridge regression
ridge_reg.fit(x_train, y_train)

Ridge(alpha=0.4)

In [13]:
predicted_values_ridge = ridge_reg.predict(x_test)
rmse = np.sqrt(mean_squared_error(y_test, predicted_values_ridge))
round(rmse, 3)

0.088

# Question #19

In [14]:
lasso_reg = Lasso(alpha=0.001) # Lasso regression
lasso_reg.fit(x_train, y_train)

Lasso(alpha=0.001)

In [15]:
importance_1 = lasso_reg.coef_
count = 0
for i in range(len(importance_1)):
    if(importance_1[i]!=0):
        count +=1
print('Non-zero weight count:',count)

Non-zero weight count: 4

# Question #20

In [16]:
predicted_values_lasso = lasso_reg.predict(x_test)
rmse = np.sqrt(mean_squared_error(y_test, predicted_values_lasso))
round(rmse, 3)

0.094